.row
  .col-sm-12
    %section.panel
      %header.panel-heading
        funcionários
        = link_to '<b>Novo funcionário</b>'.html_safe, new_staff_path, class: 'btn btn-success btn-xs pull-right'
      .panel-body

        %table.table.table-hover.table-condensed.datatable
          %thead
            %tr
              %th
                nome
              %th
                matrícula
              %th
                cargo
              %th
                sector
              %th
                telefone
              %th
                projeto
              %th
                status
              %th.col-md-2
                ações
          %tbody
            - @staffs.each do |staff|
              %tr

                %td.col-md-4
                  =staff.name
                %td
                  =staff.code
                %td
                  =staff.job.name if staff.job.present?
                %td
                  =staff.sector.acron if staff.sector.present?
                %td
                  =staff.telphone
                %td
                  =staff.project.name if staff.project.present?
                %td
                  =status_helper staff.status
                %td.col-md-2
                  = link_to 'Editar', edit_staff_path(staff), class: 'btn btn-info btn-xs'
                  = link_to 'Remover', staff, :method => :delete, :data => { :confirm => t(:confirm_remove) }, class: 'btn btn-danger btn-xs'