.row
  .col-sm-12
    %section.panel
      %header.panel-heading
        Novo Orçamento
        = link_to 'Voltar', project_quotation_budgets_path(quotation_id: @quotation), class: 'btn btn-default btn-xs pull-right'
      .panel-body
        = render 'form'
