.row
  .col-md-3
    .mini-stat.clearfix
      %span.mini-stat-icon.orange
        %i.fa.fa-gavel
      .mini-stat-info
        %span R$ 0,00
        Contas à pagar
  .col-md-3
    .mini-stat.clearfix
      %span.mini-stat-icon.tar
        %i.fa.fa-tag
      .mini-stat-info
        %span R$ 0,00
        Contas à receber
  .col-md-3
    .mini-stat.clearfix
      %span.mini-stat-icon.pink
        %i.fa.fa-money
      .mini-stat-info
        %span R$ 0,00
        Saldo em Caixa 
  .col-md-3
    .mini-stat.clearfix
      %span.mini-stat-icon.green
        %i.fa.fa-eye
      .mini-stat-info
        %span R$ 0,00
        Gastos do Caixa
.row
  .col-sm-6
    %section.panel
      %header.panel-heading
        Últimas Contas À PAGAR Lançadas
        %span.tools.pull-right
          %a.fa.fa-chevron-down{:href => "javascript:;"}
          %a.fa.fa-cog{:href => "javascript:;"}
          %a.fa.fa-times{:href => "javascript:;"}
      .panel-body
        %table.table
          %thead
            %tr
              %th #
              %th First Name
              %th Last Name
              %th Username
          %tbody
            %tr
              %td 1
              %td Mark
              %td Otto
              %td @mdo
            %tr
              %td 2
              %td Jacob
              %td Thornton
              %td @fat
            %tr
              %td 3
              %td Larry
              %td the Bird
              %td @twitter
  .col-sm-6
    %section.panel
      %header.panel-heading
        Últimos Lançamentos em caixa
        %span.tools.pull-right
          %a.fa.fa-chevron-down{:href => "javascript:;"}
          %a.fa.fa-cog{:href => "javascript:;"}
          %a.fa.fa-times{:href => "javascript:;"}
      .panel-body
        %table.table.table-striped
          %thead
            %tr
              %th #
              %th First Name
              %th Last Name
              %th Username
          %tbody
            %tr
              %td 1
              %td Mark
              %td Otto
              %td @mdo
            %tr
              %td 2
              %td Jacob
              %td Thornton
              %td @fat
            %tr
              %td 3
              %td Larry
              %td the Bird
              %td @twitter

.row
  .col-sm-6
    %section.panel
      %header.panel-heading
        Últimos Abastecimento de veículos
        %span.tools.pull-right
          %a.fa.fa-chevron-down{:href => "javascript:;"}
          %a.fa.fa-cog{:href => "javascript:;"}
          %a.fa.fa-times{:href => "javascript:;"}
      .panel-body
        %table.table
          %thead
            %tr
              %th #
              %th First Name
              %th Last Name
              %th Username
          %tbody
            %tr
              %td 1
              %td Mark
              %td Otto
              %td @mdo
            %tr
              %td 2
              %td Jacob
              %td Thornton
              %td @fat
            %tr
              %td 3
              %td Larry
              %td the Bird
              %td @twitter
  .col-sm-6
    %section.panel
      %header.panel-heading
        Últimos uploads da obra
        %span.tools.pull-right
          %a.fa.fa-chevron-down{:href => "javascript:;"}
          %a.fa.fa-cog{:href => "javascript:;"}
          %a.fa.fa-times{:href => "javascript:;"}
      .panel-body
        %table.table.table-striped
          %thead
            %tr
              %th #
              %th First Name
              %th Last Name
              %th Username
          %tbody
            %tr
              %td 1
              %td Mark
              %td Otto
              %td @mdo
            %tr
              %td 2
              %td Jacob
              %td Thornton
              %td @fat
            %tr
              %td 3
              %td Larry
              %td the Bird
              %td @twitter