.row
  .col-md-3
    .mini-stat.clearfix
      %span.mini-stat-icon.orange
        %i.fa.fa-gavel
      .mini-stat-info
        %span 320
        New Order Received
  .col-md-3
    .mini-stat.clearfix
      %span.mini-stat-icon.tar
        %i.fa.fa-tag
      .mini-stat-info
        %span 22,450
        Copy Sold Today
  .col-md-3
    .mini-stat.clearfix
      %span.mini-stat-icon.pink
        %i.fa.fa-money
      .mini-stat-info
        %span 34,320
        Dollar Profit Today
  .col-md-3
    .mini-stat.clearfix
      %span.mini-stat-icon.green
        %i.fa.fa-eye
      .mini-stat-info
        %span 32720
        Unique Visitors


.row
  .col-md-6
    / notification start
    %section.panel
      %header.panel-heading
        Notification
        %span.tools.pull-right
          %a.fa.fa-chevron-down{:href => "javascript:;"}
          %a.fa.fa-cog{:href => "javascript:;"}
          %a.fa.fa-times{:href => "javascript:;"}
      .panel-body
        .alert.alert-info.clearfix
          %span.alert-icon
            %i.fa.fa-envelope-o
          .notification-info
            %ul.clearfix.notification-meta
              %li.pull-left.notification-sender
                %span
                  %a{:href => "#"} Jonathan Smith
                send you a mail
              %li.pull-right.notification-time 1 min ago
            %p
              Urgent meeting for next proposal
        .alert.alert-danger
          %span.alert-icon
            %i.fa.fa-facebook
          .notification-info
            %ul.clearfix.notification-meta
              %li.pull-left.notification-sender
                %span
                  %a{:href => "#"} Jonathan Smith
                mentioned you in a post
              %li.pull-right.notification-time 7 Hours Ago
            %p
              Very cool photo jack
        .alert.alert-success
          %span.alert-icon
            %i.fa.fa-comments-o
          .notification-info
            %ul.clearfix.notification-meta
              %li.pull-left.notification-sender You have 5 message unread
              %li.pull-right.notification-time 1 min ago
            %p
              %a{:href => "#"} Anjelina Mewlo, Jack Flip
              and
              %a{:href => "#"} 3 others
        .alert.alert-warning
          %span.alert-icon
            %i.fa.fa-bell-o
          .notification-info
            %ul.clearfix.notification-meta
              %li.pull-left.notification-sender Domain Renew Deadline 7 days ahead
              %li.pull-right.notification-time 5 Days Ago
            %p
              Next 5 July Thursday is the last day
    / notification end
  .col-md-6
    / todolist start
    %section.panel
      %header.panel-heading
        Veículos
        %span.tools.pull-right
          %a.fa.fa-chevron-down{:href => "javascript:;"}
          %a.fa.fa-cog{:href => "javascript:;"}
          %a.fa.fa-times{:href => "javascript:;"}
      .panel-body
        
    / todolist end