= simple_form_for(@<%= singular_table_name %>) do |f|
  = f.error_notification

  .row
    .col-md-12
    <%- attributes.each do |attribute| -%>
      = f.<%= attribute.reference? ? :association : :input %> :<%= attribute.name %>
    <%- end -%>

  .row
    .col-md-12
      = f.button :submit, class: 'btn btn-success'
