.row
  .col-sm-12
    %section.panel
      %header.panel-heading
        Editar arquivo
        = link_to 'Voltar', project_archives_path(@project), class: 'btn btn-default btn-xs pull-right'
      .panel-body
        = render 'form'
