.container
  .row
    .col-md-12
      .b-article-box
        .f-article_title.f-primary-l.b-title-b-hr
          Carreiras
        %img{"data-retina" => "", :width => '1170', :src => "http://henz.s3-website-sa-east-1.amazonaws.com/images/section-bg-3.jpg"}/
        .b-article__description
          %p
            Contamos com profissionais altamente capacitados que fazem com que nossas obras sejam

            feitas no mais alto nível de qualidade, assim evoluindo juntamente com a empresa nos vários

            planos de carreira que possuímos. Podendo assim seguir  desde o colaborador operacional até

            um diretor executivo.
