.b-slidercontainer.b-slider
  .j-fullscreenslider.j-arr-hide
    %ul
      %li{"data-slotamount" => "17", "data-transition" => ""}
        .tp-bannertimer
        %img{"data-retina" => "", :src => "http://henz.s3-website-sa-east-1.amazonaws.com/images/section-bg-3.jpg"}/
        .caption.lft.caption-left{"data-hoffset" => "60", "data-speed" => "700", "data-start" => "2000", "data-x" => "left", "data-y" => "150"}
          .b-slider-lg-info-l__item-title.f-slider-lg-info-l__item-title.b-slider-lg-info-l__item-title-tertiary.b-bg-slider-lg-info-l__item-title
            %h2.f-primary-l Henz Construções
            %h1.f-primary-b Profissionais de qualidade
        .caption.lfl.caption-left{"data-speed" => "1000", "data-start" => "2600", "data-x" => "left", "data-y" => "270"}
          .b-slider-lg-info-l__item-link.f-slider-lg-info-l__item-link
            %a.b-slider-lg-info-l__item-anchor.f-slider-lg-info-l__item-anchor.f-primary-b{:href => "#"} Entre em contato conosco
            %span.b-slider-lg-info-l__item-link-after
              %i.fa.fa-chevron-right
      %li{"data-slotamount" => "7", "data-transition" => "slotfade-vertical"}
        .tp-bannertimer
        %img{"data-retina" => "", :src => "http://henz.s3-website-sa-east-1.amazonaws.com/images/section-bg-4.jpg"}/
        .caption.lft.caption-left{"data-hoffset" => "60", "data-speed" => "700", "data-start" => "2000", "data-x" => "left", "data-y" => "150"}
          .b-slider-lg-info-l__item-title.f-slider-lg-info-l__item-title.b-slider-lg-info-l__item-title-tertiary.b-bg-slider-lg-info-l__item-title
            %h2.f-primary-l Grandes obras
            %h1.f-primary-b Conservação de Rodovias
        .caption.lfl.caption-left{"data-speed" => "1000", "data-start" => "2600", "data-x" => "left", "data-y" => "270"}
          .b-slider-lg-info-l__item-link.f-slider-lg-info-l__item-link
            %a.b-slider-lg-info-l__item-anchor.f-slider-lg-info-l__item-anchor.f-primary-b{:href => "#"} Contratação Imediata
            %span.b-slider-lg-info-l__item-link-after
              %i.fa.fa-chevron-right
      %li{"data-slotamount" => "7", "data-transition" => "slotfade-vertical"}
        .tp-bannertimer
        %img{"data-retina" => "", :src => "http://henz.s3-website-sa-east-1.amazonaws.com/images/section-bg-5.jpg"}/
        .caption.lft.caption-left{"data-hoffset" => "60", "data-speed" => "700", "data-start" => "2000", "data-x" => "left", "data-y" => "150"}
          .b-slider-lg-info-l__item-title.f-slider-lg-info-l__item-title.b-slider-lg-info-l__item-title-tertiary
            %h2.f-primary-l Seu projeto
            %h1.f-primary-b entregue com excelência
        .caption.lfl.caption-left{"data-speed" => "1000", "data-start" => "2600", "data-x" => "left", "data-y" => "270"}
          .b-slider-lg-info-l__item-link.f-slider-lg-info-l__item-link
            %a.b-slider-lg-info-l__item-anchor.f-slider-lg-info-l__item-anchor.f-primary-b{:href => "#"} Entre em contato
            %span.b-slider-lg-info-l__item-link-after
              %i.fa.fa-chevron-right
.b-page-over
  %section.b-infoblock.f-center.b-diagonal-line-bg-light{"data-scroll-index" => "1"}
    .container
      %h2.f-primary-b
        %strong Henz Construções
      %p.b-desc-section.f-desc-section.f-secondary-l.f-small Sólida experiência, com garantia que sua obra seja realizada com elevada qualidade
      .b-hr-stars.f-hr-stars.container
        .b-hr-stars__group
          %i.fa.fa-star
          %i.fa.fa-star
          %i.fa.fa-star
      .b-some-examples.f-some-examples.b-some-examples-secondary.f-some-examples-secondary.f-secondary.row
        .col-sm-4.col-xs-12
          .b-some-examples__item.b-bg-transparent.f-some-examples__item
            .b-some-examples__item_img.view.view-sixth
              / <a href="#">
              %img.j-data-element{:alt => "", "data-animate" => "fadeInDown", "data-retina" => "", :src => "http://henz.s3-website-sa-east-1.amazonaws.com/images/example_1.jpg"}/
              / </a>
            .b-some-examples__item_info
              .b-some-examples__item_info_level.b-some-examples__item_name.f-some-examples__item_name.f-primary-b
                %a{:href => "#"} Quem somos??
              .b-some-examples__item_info_level.b-some-examples__item_description.f-some-examples__item_description
                A HENZ Construções e Incorporações, com sólida experiência no mercado de conservação de Rodovias,
                Construções em geral e locações de máquinas e equipamentos, com uma vasta equipe de profissionais
                qualificados, tais como: arquitetos, engenheiros e técnicos para assegurar que os projetos sejam executados
                da melhor forma possível.
        .col-sm-4.col-xs-12
          .b-some-examples__item.b-bg-transparent.f-some-examples__item
            .b-some-examples__item_img.view.view-sixth
              %img.j-data-element{:alt => "", "data-animate" => "fadeInDown", "data-retina" => "", :src => "http://henz.s3-website-sa-east-1.amazonaws.com/images/example_2.jpg"}/
            .b-some-examples__item_info
              .b-some-examples__item_info_level.b-some-examples__item_name.f-some-examples__item_name.f-primary-b
                %a{:href => "#"} O que fazemos?
              .b-some-examples__item_info_level.b-some-examples__item_description.f-some-examples__item_description
                Na HENZ Construções e Incorporações, o cliente tem a garantia que sua obra seja realizada com excelência e elevada qualidade.
        .col-sm-4.col-xs-12
          .b-some-examples__item.b-bg-transparent.f-some-examples__item
            .b-some-examples__item_img.view.view-sixth
              %img.j-data-element{:alt => "", "data-animate" => "fadeInDown", "data-retina" => "", :src => "http://henz.s3-website-sa-east-1.amazonaws.com/images/example_3.jpg"}/
            .b-some-examples__item_info
              .b-some-examples__item_info_level.b-some-examples__item_name.f-some-examples__item_name.f-primary-b
                %a{:href => "#"} Nossas Metas?
              .b-some-examples__item_info_level.b-some-examples__item_description.f-some-examples__item_description
                Nossa missão é sempre fazer o melhor; desde o projeto, até a entrega da obra, cada detalhe é importante para se alcançar um resultado acima do esperado.
  %section.b-bg-block.f-bg-block.person.b-bg-block-girl.parallax-section-bg{"data-speed" => "300", "data-type" => "background"}
    .container.f-center.b-bg-block__person
      .avatar
        %img.fade-in-animate{:alt => "", "data-retina" => "", :src => "/img/users/photo.jpg"}/
      %p.name Rafael Oliveira
      %p.quote "A melhor empresa com que tive contato. Profissionais de qualidade, responsabilidade, entrosamento entre toda a equipe, projetos bem concluídos. Esses são alguns pontos no qual me orgulho da empresa onde trabalho."
  %section#works.b-our-works.f-center{"data-scroll-index" => "2"}
    .container
      .b-category-filter.f-category-filter.f-center.j-filter
        %h2.f-primary-b
          %strong Nosso Trabalho
        %ul.list-unstyled.selected-rectangle.f-uppercase
          %li.is-category-filter-active
            %a{"data-filter" => "all", :href => "#"} Tudo
          %li
            %a{"data-filter" => ".j-filter-manutencao", :href => "#"} Manutenção
          %li
            %a{"data-filter" => ".j-filter-obra", :href => "#"} Obra Civil
      .j-filter-content
        .j-masonry
          .masonry-gridSizer.cols-xs-12.col-sm-6.col-md-4.col-lg-4
          .j-masonry-item.j-filter-manutencao.cols-xs-12.col-sm-6.col-md-4.col-lg-4
            .b-our-works__item.j-item-hover-action.b-item-hover-action-parent
              .b-our-works__item_image
                %img{:alt => "", "data-retina" => "", :src => "http://henz.s3-website-sa-east-1.amazonaws.com/images/MANUTENCAO_VEGETAL_2.jpg"}/
              .b-our-works__item_hover.b-item-hover-action
                .b-item-hover-action__inner
                  .b-item-hover-action__inner-bottom
                    .b-item-hover-action__inner-bottom-title.f-primary-b
                      MANUTENÇÃO VEGETAL
                    .b-item-hover-action__inner-bottom-desc Manutenção
          .j-masonry-item.j-filter-obra.cols-xs-12.col-sm-6.col-md-4.col-lg-4
            .b-our-works__item.j-item-hover-action.b-item-hover-action-parent
              .b-our-works__item_image
                %img{:alt => "", "data-retina" => "", :src => "http://henz.s3-website-sa-east-1.amazonaws.com/images/OBRA_CIVIL_BARREIRA_DE_CONTENCAO_TIPO_RIP_RAP_2.jpg"}/
              .b-our-works__item_hover.b-item-hover-action
                .b-item-hover-action__inner
                  .b-item-hover-action__inner-bottom
                    .b-item-hover-action__inner-bottom-title.f-primary-b
                      CONTENÇÃO RIP RAP
                    .b-item-hover-action__inner-bottom-desc Obra Civil
          .j-masonry-item.j-filter-manutencao.cols-xs-12.col-sm-6.col-md-4.col-lg-4
            .b-our-works__item.j-item-hover-action.b-item-hover-action-parent
              .b-our-works__item_image
                %img{:alt => "", "data-retina" => "", :src => "http://henz.s3-website-sa-east-1.amazonaws.com/images/MANUTENCAO_VEGETAL_3.jpg"}/
              .b-our-works__item_hover.b-item-hover-action
                .b-item-hover-action__inner
                  .b-item-hover-action__inner-bottom
                    .b-item-hover-action__inner-bottom-title.f-primary-b
                      MANUTENÇÃO VEGETAL
                    .b-item-hover-action__inner-bottom-desc Manutenção
          .j-masonry-item.j-filter-obra.cols-xs-12.col-sm-6.col-md-4.col-lg-4
            .b-our-works__item.j-item-hover-action.b-item-hover-action-parent
              .b-our-works__item_image
                %img{:alt => "", "data-retina" => "", :src => "http://henz.s3-website-sa-east-1.amazonaws.com/images/OBRA_CIVIL_BARREIRA_DE_CONTENCAO_TIPO_NEWJERSEY.jpg"}/
              .b-our-works__item_hover.b-item-hover-action
                .b-item-hover-action__inner
                  .b-item-hover-action__inner-bottom
                    .b-item-hover-action__inner-bottom-title.f-primary-b
                      CONTENÇÃO NEWJERSEY
                    .b-item-hover-action__inner-bottom-desc Obra Civil
          .j-masonry-item.j-filter-obra.cols-xs-12.col-sm-6.col-md-4.col-lg-4
            .b-our-works__item.j-item-hover-action.b-item-hover-action-parent
              .b-our-works__item_image
                %img{:alt => "", "data-retina" => "", :src => "http://henz.s3-website-sa-east-1.amazonaws.com/images/OBRA_CIVIL_BARREIRA_DE_CONTENCAO_TIPO_NEWJERSEY2.jpg"}/
              .b-our-works__item_hover.b-item-hover-action
                .b-item-hover-action__inner
                  .b-item-hover-action__inner-bottom
                    .b-item-hover-action__inner-bottom-title.f-primary-b
                      CONTENÇÃO NEWJERSEY
                    .b-item-hover-action__inner-bottom-desc Obra Civil

          .j-masonry-item.j-filter-manutencao.cols-xs-12.col-sm-6.col-md-4.col-lg-4
            .b-our-works__item.j-item-hover-action.b-item-hover-action-parent
              .b-our-works__item_image
                %img{:alt => "", "data-retina" => "", :src => "http://henz.s3-website-sa-east-1.amazonaws.com/images/MANUTENCAO_E_PINTURA_DE_PONTE.jpg"}/
              .b-our-works__item_hover.b-item-hover-action
                .b-item-hover-action__inner
                  .b-item-hover-action__inner-bottom
                    .b-item-hover-action__inner-bottom-title.f-primary-b
                      MANUTENÇÃO E PINTURA DE PONTE
                    .b-item-hover-action__inner-bottom-desc Manutenção
          .j-masonry-item.j-filter-obra.cols-xs-12.col-sm-6.col-md-4.col-lg-4
            .b-our-works__item.j-item-hover-action.b-item-hover-action-parent
              .b-our-works__item_image
                %img{:alt => "", "data-retina" => "", :src => "http://henz.s3-website-sa-east-1.amazonaws.com/images/OBRA_CIVIL_BARREIRA_DE_CONTENCAO_TIPO_RIP_RAP_3.jpg"}/
              .b-our-works__item_hover.b-item-hover-action
                .b-item-hover-action__inner
                  .b-item-hover-action__inner-bottom
                    .b-item-hover-action__inner-bottom-title.f-primary-b
                      CONTENÇÃO RIP RAP
                    .b-item-hover-action__inner-bottom-desc Obra Civil
          .j-masonry-item.j-filter-obra.cols-xs-12.col-sm-6.col-md-4.col-lg-4
            .b-our-works__item.j-item-hover-action.b-item-hover-action-parent
              .b-our-works__item_image
                %img{:alt => "", "data-retina" => "", :src => "http://henz.s3-website-sa-east-1.amazonaws.com/images/OBRA_CIVIL_DE_REPARO_DE_GUARDA-CORPO_EM_PONTE_3.jpg"}/
              .b-our-works__item_hover.b-item-hover-action
                .b-item-hover-action__inner
                  .b-item-hover-action__inner-bottom
                    .b-item-hover-action__inner-bottom-title.f-primary-b
                      REPARO DE PONTE
                    .b-item-hover-action__inner-bottom-desc Obra Civil
          .j-masonry-item.j-filter-obra.cols-xs-12.col-sm-6.col-md-4.col-lg-4
            .b-our-works__item.j-item-hover-action.b-item-hover-action-parent
              .b-our-works__item_image
                %img{:alt => "", "data-retina" => "", :src => "img/homepage/our_works/atua1.jpg"}/
              .b-our-works__item_hover.b-item-hover-action
                .b-item-hover-action__inner
                  .b-item-hover-action__inner-bottom
                    .b-item-hover-action__inner-bottom-title.f-primary-b
                      Construção de postos de atendimento (SAU's).
                    .b-item-hover-action__inner-bottom-desc Obra Civil
          .j-masonry-item.j-filter-obra.cols-xs-12.col-sm-6.col-md-4.col-lg-4
            .b-our-works__item.j-item-hover-action.b-item-hover-action-parent
              .b-our-works__item_image
                %img{:alt => "", "data-retina" => "", :src => "img/homepage/our_works/atua2.jpg"}/
              .b-our-works__item_hover.b-item-hover-action
                .b-item-hover-action__inner
                  .b-item-hover-action__inner-bottom
                    .b-item-hover-action__inner-bottom-title.f-primary-b
                      Construção de postos de atendimento (SAU's).
                    .b-item-hover-action__inner-bottom-desc Obra Civil
          .j-masonry-item.j-filter-obra.cols-xs-12.col-sm-6.col-md-4.col-lg-4
            .b-our-works__item.j-item-hover-action.b-item-hover-action-parent
              .b-our-works__item_image
                %img{:alt => "", "data-retina" => "", :src => "img/homepage/our_works/atua3.jpg"}/
              .b-our-works__item_hover.b-item-hover-action
                .b-item-hover-action__inner
                  .b-item-hover-action__inner-bottom
                    .b-item-hover-action__inner-bottom-title.f-primary-b
                      Construção de postos de atendimento (SAU's).
                    .b-item-hover-action__inner-bottom-desc Obra Civil
          .j-masonry-item.j-filter-obra.cols-xs-12.col-sm-6.col-md-4.col-lg-4
            .b-our-works__item.j-item-hover-action.b-item-hover-action-parent
              .b-our-works__item_image
                %img{:alt => "", "data-retina" => "", :src => "img/homepage/our_works/atua4.jpg"}/
              .b-our-works__item_hover.b-item-hover-action
                .b-item-hover-action__inner
                  .b-item-hover-action__inner-bottom
                    .b-item-hover-action__inner-bottom-title.f-primary-b
                      Construção de postos de atendimento (SAU's).
                    .b-item-hover-action__inner-bottom-desc Obra Civil
%section.b-infoblock.b-diagonal-line-bg-light
  .container.f-center
    %h2.f-primary-b
      %strong Nossos Parceiros
    .b-carousel-reset.b-carousel-arr-out.b-carousel-small-arr.f-carousel-small-arr.b-remaining
      .f-center.b-logo-group.j-logo-slider
        .b-logo-item
          %a{:href => "http://via040.invepar.com.br/", :target => "_BLANK"}
            %img.is-normal{:alt => "", :src => "http://henz.s3-website-sa-east-1.amazonaws.com/images/via040_pb.png"}/
            %img.is-hover{:alt => "", :src => "http://henz.s3-website-sa-east-1.amazonaws.com/images/via040_colorida.png"}/
        .b-logo-item
          %a{:href => "http://www.triunfoconcebra.com.br/", :target => "_BLANK"}
            %img.is-normal{:alt => "", :src => "http://henz.s3-website-sa-east-1.amazonaws.com/images/triunfo_pb.png"}/
            %img.is-hover{:alt => "", :src => "http://henz.s3-website-sa-east-1.amazonaws.com/images/triunfo_colorida.png"}/
        .b-logo-item
          %a{:href => "http://www.portonovosa.com/", :target => "_BLANK"}
            %img.is-normal{:alt => "", :src => "http://henz.s3-website-sa-east-1.amazonaws.com/images/1p.png"}/
            %img.is-hover{:alt => "", :src => "http://henz.s3-website-sa-east-1.amazonaws.com/images/1.png"}/
        .b-logo-item
          %a{:href => "http://www.petrobras.com.br/pt/", :target => "_BLANK"}
            %img.is-normal{:alt => "", :src => "http://henz.s3-website-sa-east-1.amazonaws.com/images/2p.png"}/
            %img.is-hover{:alt => "", :src => "http://henz.s3-website-sa-east-1.amazonaws.com/images/2.png"}/
        .b-logo-item
          %a{:href => "http://odebrecht.com/", :target => "_BLANK"}
            %img.is-normal{:alt => "", :src => "http://henz.s3-website-sa-east-1.amazonaws.com/images/3p.png"}/
            %img.is-hover{:alt => "", :src => "http://henz.s3-website-sa-east-1.amazonaws.com/images/3.png"}/
        .b-logo-item
          %a{:href => "http://www.crt.com.br/", :target => "_BLANK"}
            %img.is-normal{:alt => "", :src => "http://henz.s3-website-sa-east-1.amazonaws.com/images/4p.png"}/
            %img.is-hover{:alt => "", :src => "http://henz.s3-website-sa-east-1.amazonaws.com/images/4.png"}/
        .b-logo-item
          %a{:href => "http://www.dnit.gov.br/", :target => "_BLANK"}
            %img.is-normal{:alt => "", :src => "http://henz.s3-website-sa-east-1.amazonaws.com/images/5p.png"}/
            %img.is-hover{:alt => "", :src => "http://henz.s3-website-sa-east-1.amazonaws.com/images/5.png"}/
        .b-logo-item
          %a{:href => "http://www.crt.com.br/", :target => "_BLANK"}
            %img.is-normal{:alt => "", :src => "http://henz.s3-website-sa-east-1.amazonaws.com/images/6p.png"}/
            %img.is-hover{:alt => "", :src => "http://henz.s3-website-sa-east-1.amazonaws.com/images/6.png"}/
        .b-logo-item
          %a{:href => "http://www.concer.com.br/", :target => "_BLANK"}
            %img.is-normal{:alt => "", :src => "http://henz.s3-website-sa-east-1.amazonaws.com/images/7p.png"}/
            %img.is-hover{:alt => "", :src => "http://henz.s3-website-sa-east-1.amazonaws.com/images/7.png"}/
        .b-logo-item
          %a{:href => "http://www.novadutra.com.br/", :target => "_BLANK"}
            %img.is-normal{:alt => "", :src => "http://henz.s3-website-sa-east-1.amazonaws.com/images/8p.png"}/
            %img.is-hover{:alt => "", :src => "http://henz.s3-website-sa-east-1.amazonaws.com/images/8.png"}/
%section
  #slider.is-fixed-container
    .b-slider-primary{"data-fixed_top" => ""}
      %div
        .b-slider-primary-item.f-slider-primary-item.parallax-section-bg
          .container
            .f-slider-primary-item__title.b-slider-primary-item__title.f-primary-b
              %i.fa.fa-road
              %br/
              %span
                %b @henz
            %p.b-slider-primary-item__text.f-slider-primary-item__text.f-primary-l
              A HENZ tem o compromisso com a plena satisfação dos seus clientes e se destaca pela qualidade, seriedade e comprometimento com cada obra executada.
              %br/
/
  <div class="b-page-over">
  <section class="b-infoblock b-diagonal-line-bg-light" id="blog" data-scroll-index="3">
  <div class="container">
  <h2 class="f-primary-b f-center"><strong>Nossas Notícias</strong></h2>
  <p class="b-infoblock-description f-desc-section f-center">Vivamus ac ultrices diam, vitae accumsan tellus. Integer sollicitudin vulputate lacus, congue vulputate nisl eleifend in. </p>
  <div class="b-app-with-img row">
  <div class="col-sm-4 col-xs-12">
  <div class="b-app-with-img__item">
  <div class="b-app-with-img__item_img view view-sixth">
  <a href="#"><img class="j-data-element" data-animate="fadeInDown" data-retina src="/img/homepage/app_1.jpg" alt=""/></a>
  <div class="b-item-hover-action f-center mask">
  <div class="b-item-hover-action__inner">
  <div class="b-item-hover-action__inner-btn_group">
  <a href="/img/homepage/big/app_1.jpg" class="b-btn f-btn b-btn-light f-btn-light info fancybox" title="Mobile games" rel="group2"><i class="fa fa-arrows-alt"></i></a>
  <a href="portfolio_our_portfolio_detail.html" class="b-btn f-btn b-btn-light f-btn-light info"><i class="fa fa-link"></i></a>
  </div>
  </div>
  </div>
  </div>
  <div class="b-app-with-img__item_text f-center">
  <div class="b-app-with-img__item_name f-app-with-img__item_name f-primary-b"><a href="portfolio_our_portfolio_detail.html">Mobile games</a></div>
  <div class="b-app-with-img__item_info f-app-with-img__item_info f-primary">Mobile Design, 3D Graphic</div>
  </div>
  </div>
  </div>
  <div class="col-sm-4 col-xs-12">
  <div class="b-app-with-img__item">
  <div class="b-app-with-img__item_img view view-sixth">
  <a href="#"><img class="j-data-element" data-animate="fadeInDown" data-retina src="/img/homepage/app_2.jpg" alt=""/></a>
  <div class="b-item-hover-action f-center mask">
  <div class="b-item-hover-action__inner">
  <div class="b-item-hover-action__inner-btn_group">
  <a href="/img/homepage/big/app_2.jpg" class="b-btn f-btn b-btn-light f-btn-light info fancybox" title="Character design" rel="group2"><i class="fa fa-arrows-alt"></i></a>
  <a href="portfolio_our_portfolio_detail.html" class="b-btn f-btn b-btn-light f-btn-light info"><i class="fa fa-link"></i></a>
  </div>
  </div>
  </div>
  </div>
  <div class="b-app-with-img__item_text f-center">
  <div class="b-app-with-img__item_name f-app-with-img__item_name f-primary-b"><a href="portfolio_our_portfolio_detail.html">Character design</a></div>
  <div class="b-app-with-img__item_info f-app-with-img__item_info f-primary">Mobile Design, 3D Graphic</div>
  </div>
  </div>
  </div>
  <div class="col-sm-4 col-xs-12">
  <div class="b-app-with-img__item">
  <div class="b-app-with-img__item_img view view-sixth">
  <a href="#"><img class="j-data-element" data-animate="fadeInDown" data-retina src="/img/homepage/app_3.jpg" alt=""/></a>
  <div class="b-item-hover-action f-center mask">
  <div class="b-item-hover-action__inner">
  <div class="b-item-hover-action__inner-btn_group">
  <a href="/img/homepage/big/app_3.jpg" class="b-btn f-btn b-btn-light f-btn-light info fancybox" title="branding design" rel="group2"><i class="fa fa-arrows-alt"></i></a>
  <a href="portfolio_our_portfolio_detail.html" class="b-btn f-btn b-btn-light f-btn-light info"><i class="fa fa-link"></i></a>
  </div>
  </div>
  </div>
  </div>
  <div class="b-app-with-img__item_text f-center">
  <div class="b-app-with-img__item_name f-app-with-img__item_name f-primary-b"><a href="portfolio_our_portfolio_detail.html">branding design</a></div>
  <div class="b-app-with-img__item_info f-app-with-img__item_info f-primary">Brading Design / 2D Designs</div>
  </div>
  </div>
  </div>
  </div>
  </div>
  </section>
  </div>
/
  <div class="b-page-over">
  <section class="b-diagonal-line-bg-light b-infoblock--without-padding" id="team" data-scroll-index="5">
  <div class="b-employee">
  <div class="container">
  <h2 class="f-center f-primary-b">Equipe</h2>
  <p class="b-infoblock-description f-desc-section f-center f-employee__desc">Vivamus ac ultrices diam, vitae accumsan tellus. Integer sollicitudin vulputate lacus, congue vulputate nisl eleifend in.</p>
  <div class="b-hr-stars f-hr-stars container">
  <div class="b-hr-stars__group">
  <i class="fa fa-star"></i>
  <i class="fa fa-star"></i>
  <i class="fa fa-star"></i>
  </div>
  </div>
  <div class="b-employee-container row">
  <div class="col-md-3 col-sm-4 col-xs-12">
  <div class="b-employee-item b-employee-item--color f-employee-item">
  <div class=" view view-sixth">
  <a href="#"><img class="j-data-element" data-animate="fadeInDown" data-retina src="/img/users/user1.jpg" alt=""/></a>
  <div class="b-item-hover-action f-center mask">
  <div class="b-item-hover-action__inner">
  <div class="b-item-hover-action__inner-btn_group">
  <a href="about_us_meet_our_team_detail.html" class="b-btn f-btn b-btn-light f-btn-light info"><i class="fa fa-link"></i></a>
  </div>
  </div>
  </div>
  </div>
  <h4 class="f-primary-b">João França</h4>
  <div class="b-employee-item__position f-employee-item__position">Engenheiro</div>
  <p>Consetetur sadipscing elitrd diam nonumy eirmod tempor invidunt ut labore.</p>
  <div class="b-employee-item__social">
  <a href="#" class="b-employee-item__social_btn"><i class="fa fa-twitter"></i></a>
  <a href="#" class="b-employee-item__social_btn"><i class="fa fa-google-plus"></i></a>
  <a href="#" class="b-employee-item__social_btn"><i class="fa fa-thumbs-up"></i></a>
  </div>
  </div>
  </div>
  <div class="col-md-3 col-sm-4 col-xs-12">
  <div class="b-employee-item b-employee-item--color f-employee-item">
  <div class=" view view-sixth">
  <a href="#"><img class="j-data-element" data-animate="fadeInDown" data-retina src="/img/users/user2.jpg" alt=""/></a>
  <div class="b-item-hover-action f-center mask">
  <div class="b-item-hover-action__inner">
  <div class="b-item-hover-action__inner-btn_group">
  <a href="about_us_meet_our_team_detail.html" class="b-btn f-btn b-btn-light f-btn-light info"><i class="fa fa-link"></i></a>
  </div>
  </div>
  </div>
  </div>
  <h4 class="f-primary-b">Clara Maria</h4>
  <div class="b-employee-item__position f-employee-item__position">Recursos Humanos</div>
  <p>Consetetur sadipscing elitrd diam nonumy eirmod tempor invidunt ut labore.</p>
  <div class="b-employee-item__social">
  <a href="#" class="b-employee-item__social_btn"><i class="fa fa-twitter"></i></a>
  <a href="#" class="b-employee-item__social_btn"><i class="fa fa-google-plus"></i></a>
  <a href="#" class="b-employee-item__social_btn"><i class="fa fa-thumbs-up"></i></a>
  </div>
  </div>
  </div>
  <div class="col-md-3 col-sm-4 col-xs-12">
  <div class="b-employee-item b-employee-item--color f-employee-item">
  <div class=" view view-sixth">
  <a href="#"><img class="j-data-element" data-animate="fadeInDown" data-retina src="/img/users/user3.jpg" alt=""/></a>
  <div class="b-item-hover-action f-center mask">
  <div class="b-item-hover-action__inner">
  <div class="b-item-hover-action__inner-btn_group">
  <a href="about_us_meet_our_team_detail.html" class="b-btn f-btn b-btn-light f-btn-light info"><i class="fa fa-link"></i></a>
  </div>
  </div>
  </div>
  </div>
  <h4 class="f-primary-b">Graça Gloria</h4>
  <div class="b-employee-item__position f-employee-item__position">Assessoria</div>
  <p>Consetetur sadipscing elitrd diam nonumy eirmod tempor invidunt ut labore.</p>
  <div class="b-employee-item__social">
  <a href="#" class="b-employee-item__social_btn"><i class="fa fa-twitter"></i></a>
  <a href="#" class="b-employee-item__social_btn"><i class="fa fa-google-plus"></i></a>
  <a href="#" class="b-employee-item__social_btn"><i class="fa fa-thumbs-up"></i></a>
  </div>
  </div>
  </div>
  <div class="col-md-3 col-sm-4 col-xs-12 hidden-xs hidden-sm">
  <div class="b-employee-item b-employee-item--color f-employee-item">
  <div class=" view view-sixth">
  <a href="#"><img class="j-data-element" data-animate="fadeInDown" data-retina src="/img/users/user4.jpg" alt=""/></a>
  <div class="b-item-hover-action f-center mask">
  <div class="b-item-hover-action__inner">
  <div class="b-item-hover-action__inner-btn_group">
  <a href="about_us_meet_our_team_detail.html" class="b-btn f-btn b-btn-light f-btn-light info"><i class="fa fa-link"></i></a>
  </div>
  </div>
  </div>
  </div>
  <h4 class="f-primary-b">Marcos Santos</h4>
  <div class="b-employee-item__position f-employee-item__position">Gerente</div>
  <p>Consetetur sadipscing elitrd diam nonumy eirmod tempor invidunt ut labore.</p>
  <div class="b-employee-item__social">
  <a href="#" class="b-employee-item__social_btn"><i class="fa fa-twitter"></i></a>
  <a href="#" class="b-employee-item__social_btn"><i class="fa fa-google-plus"></i></a>
  <a href="#" class="b-employee-item__social_btn"><i class="fa fa-thumbs-up"></i></a>
  </div>
  </div>
  </div>
  </div>

  </div>
  </div>
  </section>
  </div>
#map.is-fixed-container{"data-scroll-index" => "6"}
  %section.b-google-map.b-google-map--fix-height.map-theme{"data-fixed_top" => ""}
    .b-google-map__map-view.b-google-map__map-height
      / Google map load
    %img.marker-template.hidden{"data-label" => "", "data-retina" => "", :src => "/img/google-map-marker-green.png"}/
    #info-window-1.b-google-map__info-window-template.hidden{"data-width" => "526"}
      .b-google-map__info-window.col-xs-12
        .col-lg-7.col-xs-12.b-google-map__info-window-address
          %ul.list-unstyled
            %li.col-xs-12
              .b-google-map__info-window-address-icon.f-center.pull-left
                %i.fa.fa-home
              %div
                .b-google-map__info-window-address-title.f-google-map__info-window-address-title
                  Escritório MATRIZ RJ
                .desc Rua Polineia 822,Sala 101 – Quadra 4 CEP 25255-390 - Duque de Caxias - RJ
            %li.col-xs-12
              .b-google-map__info-window-address-icon.f-center.pull-left
                %i.fa.fa-phone
              %div
                .b-google-map__info-window-address-title.f-google-map__info-window-address-title
                  Telefone de Contato
                .desc (21) 3653-9195
                (21)  3653-9369,
                (21) 3653-9123
            %li.col-xs-12
              .b-google-map__info-window-address-icon.f-center.pull-left
                %i.fa.fa-envelope
              %div
                .b-google-map__info-window-address-title.f-google-map__info-window-address-title
                  E-mail
                .desc  contato@construtorahenz.com.br
        .col-lg-5.b-google-map__info-window-image.hidden-xs.hidden-sm.hidden-md
          %img{:alt => "", "data-retina" => "", :src => "/img/FaxadaHenzLindona.png", :style => "width: 218px; height: 243px;"}/
      #info-window-2.b-google-map__info-window-template.hidden{"data-width" => "526"}
        .b-google-map__info-window.col-xs-12
          .col-lg-7.col-xs-12.b-google-map__info-window-address
            %ul.list-unstyled
              %li.col-xs-12
                .b-google-map__info-window-address-icon.f-center.pull-left
                  %i.fa.fa-home
                %div
                  .b-google-map__info-window-address-title.f-google-map__info-window-address-title
                    Escritório VALPARAISO GO
                  .desc VIA 040: rua 09, QD. 11, L "D", parque São Bernardo Valparaíso de Goiás – GO
              %li.col-xs-12
                .b-google-map__info-window-address-icon.f-center.pull-left
                  %i.fa.fa-phone
                %div
                  .b-google-map__info-window-address-title.f-google-map__info-window-address-title
                    Telefone de Contato
                  .desc (61) 8525-7444 e (38) 9948-7444
              %li.col-xs-12
                .b-google-map__info-window-address-icon.f-center.pull-left
                  %i.fa.fa-envelope
                %div
                  .b-google-map__info-window-address-title.f-google-map__info-window-address-title
                    E-mail
                  .desc maikel.couto@construtorahenz.com.br
          .col-lg-5.b-google-map__info-window-image.hidden-xs.hidden-sm.hidden-md
            %img{:alt => "", "data-retina" => "", :src => "img/google-map-sskyscrapper.png", :style => "width: 218px; height: 243px;"}/
      #info-window-3.b-google-map__info-window-template.hidden{"data-width" => "526"}
        .b-google-map__info-window.col-xs-12
          .col-lg-7.col-xs-12.b-google-map__info-window-address
            %ul.list-unstyled
              %li.col-xs-12
                .b-google-map__info-window-address-icon.f-center.pull-left
                  %i.fa.fa-home
                %div
                  .b-google-map__info-window-address-title.f-google-map__info-window-address-title
                    Escritório ALEXÂNIA GO
                  .desc Rua 57, qd 40, lote 9, Setor nova Flórida, CEP: 72930-000 - Alexânia - GO
              %li.col-xs-12
                .b-google-map__info-window-address-icon.f-center.pull-left
                  %i.fa.fa-phone
                %div
                  .b-google-map__info-window-address-title.f-google-map__info-window-address-title
                    Telefone de Contato
                  .desc (61) 8525-7444
                  (38) 9948-7444
              %li.col-xs-12
                .b-google-map__info-window-address-icon.f-center.pull-left
                  %i.fa.fa-envelope
                %div
                  .b-google-map__info-window-address-title.f-google-map__info-window-address-title
                    E-mail
                  .desc dirlei.angelo@construtorahenz.com.br
          .col-lg-5.b-google-map__info-window-image.hidden-xs.hidden-sm.hidden-md
            %img{:alt => "", "data-retina" => "", :src => "img/google-map-sskyscrapper.png", :style => "width: 218px; height: 243px;"}/
      #info-window-4.b-google-map__info-window-template.hidden{"data-width" => "526"}
        .b-google-map__info-window.col-xs-12
          .col-lg-7.col-xs-12.b-google-map__info-window-address
            %ul.list-unstyled
              %li.col-xs-12
                .b-google-map__info-window-address-icon.f-center.pull-left
                  %i.fa.fa-home
                %div
                  .b-google-map__info-window-address-title.f-google-map__info-window-address-title
                    Escritório SÃO PAULO
                  .desc Avenida domingos Terino Nº 1084, vila recreio, CEP 19.911-781 - Ourinhos - SP
              %li.col-xs-12
                .b-google-map__info-window-address-icon.f-center.pull-left
                  %i.fa.fa-phone
                %div
                  .b-google-map__info-window-address-title.f-google-map__info-window-address-title
                    Telefone de Contato
                  .desc (14) 99719-1183
              %li.col-xs-12
                .b-google-map__info-window-address-icon.f-center.pull-left
                  %i.fa.fa-envelope
                %div
                  .b-google-map__info-window-address-title.f-google-map__info-window-address-title
                    E-mail
                  .desc renata.ramos@construtorahenz.com.br
          .col-lg-5.b-google-map__info-window-image.hidden-xs.hidden-sm.hidden-md
            %img{:alt => "", "data-retina" => "", :src => "img/google-map-sskyscrapper.png", :style => "width: 218px; height: 243px;"}/
