.container
  .row
    %h3 Mapa de Obras 2015
    %table.table
      %thead
        %tr
          %th Contratante
          %th Inicio
          %th Termino
          %th Serviço
      %tbody
        %tr
          %td CONCESSIONARIA AUTO RAPOSO TAVARES - CART
          %td -
          %td -
          %td CONSERVAÇÃO E MANUTENÇÃO
        %tr
          %td CONCESSIONARIA AUTO RAPOSO TAVARES - CART
          %td -
          %td -
          %td CONSERVAÇÃO E MANUTENÇÃO
        %tr
          %td CONCESSIONARIA AUTO RAPOSO TAVARES - CART
          %td -
          %td -
          %td CONSERVAÇÃO E MANUTENÇÃO
        %tr
          %td CONCESSIONARIA AUTO RAPOSO TAVARES - CART
          %td -
          %td -
          %td CONSERVAÇÃO E MANUTENÇÃO
        %tr
          %td CONCESSIONARIA AUTO RAPOSO TAVARES - CART
          %td -
          %td -
          %td RECUPERAÇÃO DE PASSIVOS AMBIENTAIS
        %tr
          %td CONCESSIONARIA AUTO RAPOSO TAVARES - CART
          %td -
          %td -
          %td IMPLANTAÇÃO DE CALBOX
        %tr
          %td CONCESSIONARIA RIO TERESOPOLIS S/A - CRT
          %td 15/03/2014
          %td 15/04/2015
          %td LOCAÇÃO DE CAMINHOES
        %tr
          %td CONCESSIONARIA RIO TERESOPOLIS S/A - CRT
          %td 02/05/2014
          %td 01/06/2015
          %td CONSERVA E MANUTENÇÃO
        %tr
          %td CONCESSIONARIA RIO TERESOPOLIS S/A - CRT
          %td -
          %td -
          %td RECONSTRUÇÃO DE PLACAS
        %tr
          %td CONCESSIONARIA RIO TERESOPOLIS S/A - CRT
          %td -
          %td -
          %td LOCAÇÃO DE ESVACADEIRA
        %tr
          %td CONCESSIONARIA RIO TERESOPOLIS S/A - CRT
          %td -
          %td -
          %td LOCAÇÃO DE CARRETA PRANCHA
        %tr
          %td CONCESSIONARIA RIO TERESOPOLIS S/A - CRT
          %td -
          %td -
          %td EXECUÇÃO DE DRENO, TERRAPLANAGEM E OUTROS
        %tr
          %td CONCEBRA - CONCESSIONARIA DAS RODOVIAS CENTRAIS DO BRASIL S/A
          %td 13/02/2015
          %td 13/02/2016
          %td CONSERVAÇÃO DE ROTINA
        %tr
          %td CONCESSIONARIA BR 040 S/A
          %td -
          %td -
          %td CONSERVA DE ROTINA
        %tr
          %td CONCESSIONARIA BR 040 S/A
          %td -
          %td -
          %td CONSERVA DE ROTINA
        %tr
          %td CONCESSIONARIA BR 040 S/A
          %td -
          %td -
          %td CONSTRUÇÃO DE NEW JERSEY
        %tr
          %td FUNDO DE AREENDAMENTO RESIDENCIAL - FAR - RECIFE
          %td -
          %td -
          %td MINHA CASA MINHA VIDA
        %tr
          %td CONSORCIO NOVA SUBIDA DA SERRA-CNSS
          %td -
          %td -
          %td EXECUÇÃO DE ENCHIMENTO DE TERRAMESH E GABIÃO DAS ESTACAS
        %tr
          %td CONSORCIO NOVA SUBIDA DA SERRA-CNSS
          %td -
          %td -
          %td EXECUÇÃO DE BARREIRAS TIPO NEW JERSEY DUPLA
