.row
  .col-sm-12
    %section.panel
      %header.panel-heading
        Novo fornecedor
        = link_to 'Voltar', project_suppliers_path(@project), class: 'btn btn-default btn-xs pull-right'
      .panel-body
        = render 'form'
